{% extends "base.html" %}

<!--ESTO DEBE MOSTRAR LA LISTA PERO USANDO LAS SOLICITUDES QUE SE ENCUENTREN EN LA BASE DE DATOS -->
{% block content %}

<h3 class="title">Historial de solicitudes</h3>
<!--LA TABLA ES FEA, NECESARIO ARREGLARLA -->

<table width=100% class="table table-hover table-dark" >
    <thead>
        <tr>
          <!-- FILAS: -->
            <th scope="col" >ID</th>
            <th scope="col">Tipo de solicitud</th>
            <th scope="col">Estado</th>
            <th scope="col">

        </tr>
    </thead>
    <tbody>
        <!-- COLUMNAS: -->
            <tr>
                <td>Value for Id</td>
                <td>Value for Solicitud</td>
                  <td>Value for Estado</td>
            </tr>
    </tbody>
</table>

{% endblock %}
