{% extends "base.html" %}

{% block content %}
hola
<div class="column is-4 is-offset-4">
    <h3 class="title">Solicitudes de estudiantes</h3>
    <div class="box">
        <form method="POST" action="/solicitudes">
            <select name = "Solicitudes">
                <option value="Traslado">Traslado</option>
                <option value="Cambio de grupo">Cambio de grupo</option>
            </select>
            <button style="margin-top: 20px" class="button is-block is-info is-large is-fullwidth">Solicitud</button>
        </form>
    </div>
</div>
{% endblock %}