{% extends "base.html" %}

{% block content %}
hola
<div class="column is-4 is-offset-4">
    <h3 class="title">Programas curriculares</h3>
    <div class="box">
        <form method="POST" action="/solicitudes">
            <select name = "Solicitudes">
                <option value="Ingenieria de Sistemas">Ingenieria de Sistemas</option>
                <option value="Ingenieria Electrica">Ingenieria Electrica</option>
            </select>
            <button style="margin-top: 20px" class="button is-block is-info is-large is-fullwidth">Programa</button>
        </form>
    </div>
</div>
{% endblock %}