
{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
    <h3 class="title">Solicitud al Consejos</h3>
    <div class="box">
        <form method="POST" action="/solicitudes">
            <select name = "Solicitudes">
                <option value="Traslado">Traslado</option>
                <option value="Cambio de grupo">Cambio de grupo</option>
                <option value="Inscripcion">Inscripción de asignaturas</option>
                <option value="Carga">Cursar menos de la carga mínima</option>
                <option value="CancelacionA">Cancelación de asignaturas</option>
                <option value="Reserva">Reserva de cupo adicional</option>
                <option value="CancelacionP">Cancelación periodo académico</option>
                <option value="CambioT">Cambio tipologia</option>
                <option value="Reembolso">Reembolso</option>
            </select>
            <button  style="margin-top: 20px" class="button is-block is-info is-large is-fullwidth">Solicitud</button>
        </form>
        <button class="info" name="info" id="info" role="button" >?</button>
        <form method="POST" action="/mis_solicitudes">
            <button  style="margin-top: 20px" class="button is-block is-info is-large is-fullwidth">Mis solicitudes</button>
        </form>
    </div>
</div>
<script>const boton = document.getElementById("info")
    boton.onclick=function(){
        window.location.replace('http://www.legal.unal.edu.co/rlunal/home/tmt.jsp')
      }</script>
{% endblock %}