{% extends "base.html" %}

<!--ESTO DEBE MOSTRAR LA LISTA PERO USANDO LAS SOLICITUDES QUE SE ENCUENTREN EN LA BASE DE DATOS -->
{%block content%}
<h3 class="title"> Solicitudes Pendientes </h3>


<!--LA TABLA ES FEA, NECESARIO ARREGLARLA -->
<table>
    <tr>
        <th>idUser</th>
      <th>Tipo solicitud</th>
      <th>          Respuesta</th>
    </tr>  
      {% for solicitud in solicitud_usuario %}
      <tr>
        <td>{{solicitud.idUser}}</td>
        <td>{{solicitud.solicitud}}</td>
        {% if solicitud.respuesta %}
        <td>{{solicitud.respuesta}}</td>
        {% else %}
        <td> No hay respuesta</td>
        {% endif %}
      </tr>
      {% endfor %}
  </table>

{% endblock %}
